<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
      point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="ch.unibe.jexample.internal.buildpath.JUnitContainerInitializer"
            id="ch.unibe.jexample.JEXAMPLE_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="JExample"
            class="ch.unibe.jexample.internal.buildpath.JUnitContainerWizardPage"
            id="ch.unibe.jexample.JEXAMPLE_CONTAINER">
      </classpathContainerPage>
   </extension>

</plugin>
