<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
      point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="ch.unibe.jexample.internal.JExampleContainerInitializer"
            id="ch.unibe.jexample.JEXAMPLE_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="JExample"
            class="ch.unibe.jexample.internal.JExampleContainerWizardPage"
            id="ch.unibe.jexample.JEXAMPLE_CONTAINER">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathFixProcessors">
      <classpathFixProcessor
            class="ch.unibe.jexample.internal.JExampleClasspathFixProcessor"
            id="ch.unibe.jexample.library.JExampleClasspathFixProcessor"
            name="JExample Classpath Fix Processor">
         <overrides
               id="org.eclipse.jdt.ui.text.correction.DefaultClasspathFixProcessor">
         </overrides>
      </classpathFixProcessor>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="ch.unibe.jexample.internal.JExampleQuickFixProcessor"
            id="ch.unibe.jexample.library.JExampleQuickFixProcessor"
            name="JExample Quick Fix Processor">
      </quickFixProcessor>
   </extension>

</plugin>
